---

- name: Create CR_Mattermost_Wait
  ansible.builtin.include_tasks: servicenow_create_mattermost_wait.yml
  when:
    - servicenow_cr == "CR_Slack_MM_Wait"

- name: Close CR_Mattermost
  ansible.builtin.include_tasks: servicenow_close_mattermost.yml
  when:
    - servicenow_cr == "CR_Close_MM"

- name: Close CR
  ansible.builtin.include_tasks: servicenow_close.yml
  when:
    - servicenow_cr == "close"
    - request is defined

- name: Close CR
  ansible.builtin.include_tasks: servicenow_close_cr.yml
  when:
    - servicenow_cr == "close"
    - change_request_number is defined
